$nav_color:#111B24;
$header_color:#021B0A;
$paragraph_color:#35493B;
$paragraph1_color:#5E6E70;
$search_textColor:#AFAFAF;
$black_color:#000000;
$white_color:#FFFFFF;
$btnBg_color: #466B6F;
$slide_nameColor: #636F71;
$slide_paraColor:#8C8C8C;
$star_color:#FFA600;
$last_copiColor: #6C6C6C;
$search_btnColor:#7CD1D9;
$search_BgColor:#F2F7F5;
$price_p1Colour:#242424;
$price_broderColor: #ACACAC;
